
.row-cols-md-4 >*{
  flex: unset !important
}
.Navbar-class{
  background-color: white;
}
.Col-class{
  margin: 0.5rem !important;
}

.row.RowContainer-class{
  flex-wrap: nowrap !important;
  margin-top: 2rem;
}
.planwrapper_title{
  background-color: #219BD9;
  display:flex;
  justify-content: center;
  color: whitesmoke;
  border-radius: 5px;
}
.h3_class{
  margin-bottom: 0px !important;
}
.featureswrapper-class{
  margin-left: 0.5rem;
  margin-top: 0.6rem;
}